@model IEnumerable<MosadMvcServer.Models.Mission>

@{
    ViewData["Title"] = "MissionControl";
}

<h1>MissionControl</h1>

@if (@ViewBag.Errors != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Errors
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TimeToKill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                assign
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <h4>nick name: @item.Agent.NickName                 </h4>
                <h4>location: @item.Agent.GetLocation().ToString(); </h4>
            </td>
            <td>
                    <h4>nick name: @item.Target.Name</h4>
                    <h4> role: @item.Target.Role                        </h4>
                    <h4>location: @item.Target.GetLocation().ToString();</h4>
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TimeToKill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
                <td>
                    <a asp-action="AssignMission" asp-route-id="@item.Id" class="btn btn-success">assign</a>
                </td>
          
        </tr>
}
    </tbody>
</table>
