@model MosadMvcServer.ViewModels.StatOverViewModel

@{
    ViewData["Title"] = "OverView";
}

<h1>OverView</h1>

<div>
    <h4>statistics</h4>
    <hr />
    <dl class="row-12">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalAgents) / @Html.DisplayNameFor(model => model.ActiveAgents)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.TotalAgents) /  @Html.DisplayFor(model => model.ActiveAgents)
        </dd>
       
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.totalTargets) / @Html.DisplayNameFor(model => model.activeTargets)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.totalTargets) / @Html.DisplayFor(model => model.activeTargets)
        </dd>
      


        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.totalMissions) /  @Html.DisplayNameFor(model => model.activeMissions)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.totalMissions) / @Html.DisplayFor(model => model.activeMissions)
        </dd>
       
        <dt class = "col-sm-4">
            יחס סוכנים למטרות )כללי(
        </dt>
        <dd class = "col-sm-4">
           @Model.TotalAgents / @Model.totalTargets
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.idleAgentCount) / @Html.DisplayNameFor(model => model.unassignedTargetCount)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.idleAgentCount) /  @Html.DisplayFor(model => model.unassignedTargetCount)
        </dd>

    </dl>
</div>
<div>
   
    <a asp-action="Index">Back</a>
</div>

